.textLg {
  font-size: 20px;
}

.textMd {
  font-size: 12px;
}

.textSm {
  font-size: 9px;
}

.fwb {
  font-weight: bold;
}

.textLight {
  color: #fff;
}

.ttu {
  text-transform: uppercase;
}

.btnRound {
  border-radius: 100%;
  border: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  .btnRound_img {
    width: 50%;
    height: auto;
  }
}

.carCard {
  border-radius: 15px;
  background-image: url(../img/carCard_bg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .carCard_top {
    display: flex;
    justify-content: space-between;
  }
}

.curBtn {
  background: radial-gradient(#1c1e26, #16171e);
}

.textSec {
  color: #40434d;
}

.btnMain {
  border-radius: 25px;
  padding: 7px;
  border: none;
}

.btnBlue {
  background: #2651d0;
  box-shadow: inset 0px 0px 3px #ffffff44;
}

.btnRed {
  background: #ba313f;
  box-shadow: inset 0px 0px 3px #ffffff44;
}

.btnGreen {
  background: #40aa20;
  box-shadow: inset 0px 0px 3px #ffffff44;
}

