.body {
  margin: 0;
  padding: 0;
  background: #0f1013;
}

/*Utils*/
@import 'utils';

/*Sectional*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;

  .btnRound {
    width: 50px;
    height: 50px;
    background: #15161b;
  }
}

.main {
  padding: 0 10px;
  margin-top: 20px;

  .carCard {
    padding: 10px 15px;

    .carCard_top {
      .curBtn {
        height: 70px;
        width: 70px;
      }

      .holder {
        display: flex;
        flex-direction: column;
        .holder_bot {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .btnMain {
                width: 40%;
            }
        }
      }
    }
  }
}

/*Mediaqueries*/
@import 'mediaqueries';
