.body {
  margin: 0;
  padding: 0;
  background: #0f1013;
  font-weight: bold;
  text-transform: uppercase;

  .bodylink {
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      filter: invert(0.4) sepia(1) saturate(20) hue-rotate(198deg) brightness(1);
    }
  }
}

/*Utils*/
@import 'utils';

/*Sectional*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;

  .btnRound {
    width: 50px;
    height: 50px;
    background: #15161b;
  }
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.main {
  padding: 0 10px;
  margin-top: 20px;
  position: relative;

  .carCard {
    padding: 10px 15px;

    .carCard_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .curBtn {
        height: 65px;
        width: 65px;
      }

      .holder {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 70%;

        .holder_bot {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 5px;
          .btnMain {
            width: 45%;
            font-size: 11px;
          }
        }
      }
    }
    .carCard_bot {
      position: relative;
      height: 166px;

      .carCard_botImg {
        position: absolute;
        bottom: -35px;
        left: 0;
        width: 100%;
        transform: scale(1.12);
        .carCard_botImg_item {
          width: 100%;
        }
      }
    }
  }

  .shortstats {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    margin-top: 60px;
    border-radius: 40px;
    box-shadow: inset 0px 0px 3px #ffffff24;

    .btnMain {
      width: 23%;
    }

    .shortstats_item {
      display: flex;
      width: 18%;
      justify-content: space-between;
      align-items: center;

      .btnRound {
        height: 25px;
        width: 25px;
      }
    }
  }

  .statsSingle {
    display: flex;
    padding: 15px;
    background: #15161b;
    border-radius: 13px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .statsSingle_icon {
      width: 35px;
      height: 35px;
    }

    .statsSingle_info {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 40%;

      .range {
        position: relative;
        width: 100%;

        .rangeInd {
          font-size: 12px;
          color: #ffffff;
        }

        .rangeMin {
          position: absolute;
          bottom: -8px;
          left: 0;
        }

        .rangeMax {
          position: absolute;
          bottom: -8px;
          right: 0;
        }

        .rangeInput {
          width: 100%;
        }
      }
    }

    .statsSingle_add {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .carouselWrapper {
    .walletCard {
      background-image: url(../img/walleCardBg.png);
      background-position: center top;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      padding: 15px 20px;

      .walletCard_top {
        display: flex;
        justify-content: space-between;

        .walletCard_topItem {
          .textSec {
            color: #93aefc;
            display: flex;
            width: fit-content;
            font-weight: normal;
            align-items: center;
          }
          .btnMain {
            background: #2850c5;
            font-weight: bold;
          }
          .btnSmall {
            margin-left: 15px;
          }
        }
      }

      .walletBalance {
        margin: 20px 0;
      }
    }
  }

  .walletLog {
    margin-top: 20px;
  }

  .carsSection {
    .shortstats {
      margin-top: 20px;
    }
    .carsCard {
      padding: 20px;
      border-radius: 15px;
      background: #15161b;
      .carsCard_header {
        .carsCard_header_item {
          width: 30%;
          height: 45px;
          padding: 10px;
          border-radius: 20px;
          .btnRound {
            width: 25px;
            height: 25px;
          }
        }
      }
      .carsCard_img {
        margin-top: 20px;
      }
    }
  }
}

.menu {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #15161b;
  border-radius: 25px;
  left: 5%;

  .menuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .menuItem_img {
      width: 25px;
      height: 25px;
    }

    .menuItem_text {
      margin-top: 10px;
    }
  }
}
/*Mediaqueries*/
@import 'mediaqueries';
